body{

    background-color: #F1F5F8;
}

#main_content{
    width:49vw;
    margin: auto;
    text-align: center;
    margin-top: 20vh;


}
h1{
    font-family: 'Great Vibes', cursive;
    color:#C59D5F;
    letter-spacing: 5px;
    font-weight: 40px;
    font-weight: 700;

}
.questions_div{
  
  width: auto;
   
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 16px grey;
   margin: 20px;
   overflow: hidden;
    
}

.question{
    padding: 20px;
    margin: 0;
  
    float: left;
    letter-spacing: 2px;
    font-size: 20px;
}
.plus_icon{
 
    float:right;
    font-size: 1.5rem;
    padding: 20px;
    color:#C59D5F;
    cursor: pointer;
    transition: transform 1s;
}


.plus_icon:hover{

    transform: rotate(180deg);
}


.hidden_class{
    clear:both;
    display: none;

}
.hr_line{

    border: 0.5px solid #CCCCCC;
   
    margin-left: 15px;
    margin-right: 15px;

}
.drop_down{

    color:#617D98;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    padding-top: 5px;
    letter-spacing: 1px;
    
}
@media only screen and (max-width:700px){

    #main_content{
    width:90vw;
   
    
    }
    .question{
        font-size: 15px;
    }




}
@media only screen and (max-width:1000px){

    #main_content{
    width:90vw;


    }
    .question{
        font-size: 15px;
    }




}





